@model IEnumerable<Food>
@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-3 mb-4">
                    <div class="card">
                        <img src="https://placehold.co/300x300" class="card-img-top" />
                        <div class="px-3 pt-3 fs-5 fw-bold">@item.Name</div>
                        <div class="d-flex justify-content-between p-3">
                            <div class="fs-6 fw-bold" style="line-height:35px;">@item.UnitPrice.ToString("00,00")đ</div>
                            <a class="btn btn-sm btn-warning" asp-action="addToCart">Add to cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}