html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.box-shadow-edit{
    box-shadow: 0 .2rem 1.75rem rgba(0, 0, 0, .35)
}
.nav-link:focus, .nav-link:hover {
    font-weight : bold;
}
.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out;
}
