
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.box-shadow-edit{
    box-shadow: 0 .2rem 1.75rem rgba(0, 0, 0, .35)
}
.box-shadow-card:hover {
    box-shadow: 0 .2rem .7rem rgba(0, 0, 0, .35)
}
.nav-link {
    color: #f4bd61 !important;
}
    .nav-link:focus, .nav-link:hover {
        font-weight: bold;
        color: #383636 !important;
    }
.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out;
}
.dropdown-item:hover {
    color: black !important;
    background-color: #f4bd61 !important;
}
.dropdown-item {
    color: #f4bd61 !important;
}